<% include templates/header.ejs %>

<div id="main-area" class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-3 d-none d-lg-block">
            <% include templates/admin-side.ejs %>
        </div>
        <div class="col">
            <% if (reg_type == "child") { %>
                    <% include templates/register-child.ejs %>
            <% } else if (reg_type == "parent") { %>
                    <% include templates/register-parent.ejs %>
            <% } else if (reg_type == "teacher") { %>
                    <% include templates/register-teacher.ejs %>
            <% } else if (reg_type == "group") { %>
                    <% include templates/register-group.ejs %>
            <% } else if (reg_type == "bills") { %>
                    <div class="h3 mb-4 page-title">Рахунки</div>
                    <div class="mb-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Сортування
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Нові спочатку</a>
                                <a class="dropdown-item" href="#">Несплачені спочатку</a>
                                <a class="dropdown-item" href="#">A-Я</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-light dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Фільтри
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <form action="generateBills" method="POST">
                            <button type="submit" class="btn btn-primary">
                                Згенерувати рахунки
                            </button>
                        </form>
                    </div>
                    <div id="all-bills">
                        <% if (bills.length == 0) { %>
                            <div class="h5"> Немає жодного рахунку. </div>
                        <% } else { bills.forEach( function (bill) { %>
                            <% include templates/bill.ejs %>
                        <% }); }%>
                    </div>
            <% } %>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>