<!-- params:
     pagetitle,
     user {name, dob, phone, email, address, work},
     children [{name, dob, group}, ...],
     bills [{child_name, period, sum, status, end_date}, ...],
     type
-->

<% include templates/header.ejs %>

<div id="main-area" class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-3 d-none d-lg-block">
            <% include templates/user-side-card.ejs %>
            <% include templates/children-side-card.ejs %>
        </div>
        <div class="col">
            <div class="h3 mb-4 page-title">Рахунки</div>
            <div class="mb-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортування
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Нові спочатку</a>
                        <a class="dropdown-item" href="#">Несплачені спочатку</a>
                        <a class="dropdown-item" href="#">A-Я</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Фільтри
                    </button>
                </div>
            </div>
            <div id="all-bills">
                <% if (bills.length == 0) { %>
                <div class="h5"> У вас ще немає рахунків. </div>
                <% } else { bills.forEach( function (bill) { %>
                    <% include templates/bill.ejs %>
                <% }); }%>
            </div>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>