<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KDGT</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/frontend/views/styles/style.css">
</head>
<body class="text-center">
<form class="form-signin">
    <img class="mb-4 logo-small" src="/frontend/views/assets/logo.png" alt="KDGT Logo">
    <h1 class="h3 mb-4 font-weight-normal">Будь ласка, авторизуйтеся</h1>

    <input id="inputEmail" type="email" class="form-control" placeholder="Email"
           required>
    <input id="inputPassword" type="password" class="form-control mb-4" placeholder="Пароль"
           required>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Авторизуватися</button>
    <p class="mt-5 mb-3 text-muted">© 2019</p>
</form>
<% include templates/footer.ejs %>