<% include templates/header.ejs %>

<div id="main-area" class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-3 d-none d-lg-block">
            <% include templates/user-side-card.ejs %>
            <% include templates/groups-side-card.ejs %>
        </div>
        <div class="col">
            <div class="h3 mb-4 page-title">Відгуки</div>
            <div class="mb-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортування
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Нові спочатку</a>
                        <a class="dropdown-item" href="#">Мої спочатку</a>
                        <a class="dropdown-item" href="#">A-Я</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Фільтри
                    </button>
                </div>
                <div class="btn-group right-side">
                    <button class="btn btn-primary" id="new-review-btn"
                            data-toggle="modal" data-target="#newReviewModal">
                        Написати відгук
                    </button>
                </div>
            </div>

            <% include templates/new-review.ejs %>

            <div id="all-reviews">
                <% reviews.forEach(function (review) { %>
                    <% include templates/review.ejs %>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>