<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kindegarten</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<nav id="header" class="navbar fixed-top">
    <button type="button" class="btn btn-default right-side">Вийти</button>
</nav>

<div id="main-area" class="container">
    <div class="row">
        <div class="col-3">
            <div class="card card-small bg-light">
                <div class="card-header">Профіль</div>
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Тетяна Іванова</a>
                    </div>
                    <p class="card-subtitle mb-3 text-muted small-text">30.05.1985</p>
                    <p class="card-text">
                        <img src="https://img.icons8.com/metro/26/000000/phone.png" class="icon">
                        <span>+38 (066) 111-22-33</span>
                    </p>
                </div>
            </div>
            <button class="btn btn-primary side-btn" id="presence-btn">Відвідування</button>
            <button class="btn btn-primary side-btn" id="reviews-btn">Відгуки</button>

            <div class="card card-small bg-light mb-2 side-card-stack">
                <div class="card-header">Групи</div>
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Група "Сонечко"</a>
                    </div>
                    <p class="card-subtitle text-muted small-text">23 учні</p>
                </div>
                <hr style="margin: 0px 0px;">
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Група "Берізка"</a>
                    </div>
                    <p class="card-subtitle text-muted small-text">18 учнів</p>
                </div>
                <hr style="margin: 0px 0px;">
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Група "Райдуга"</a>
                    </div>
                    <p class="card-subtitle text-muted small-text">21 учень</p>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="h3 mb-4 page-title">Відвідування</div>
            <div class="card mb-2">
                <h1 class="h5 card-header font-weight-normal">
                    <span>Група "Сонечко"</span>
                    <button type="button" class="btn btn-sm btn-light right-side"
                            data-toggle="modal" data-target="#exampleModal"
                            data-email="All" data-name="all-users">
                        Вибрати усіх
                    </button>
                </h1>
                <ul class="list-group list-group-flush" id="group-list">
                    <li class="list-group-item">
                        <a href="#"> Іван Іванов </a>
                        <input type="checkbox" class="right-side">
                    </li>
                    <li class="list-group-item">
                        <a href="#"> Марія Іванова </a>
                        <input type="checkbox" class="right-side">
                    </li>
                    <li class="list-group-item">
                        <a href="#"> Катерина Петрова </a>
                        <input type="checkbox" class="right-side">
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" id="presence-submit-btn"> Відмітити </button>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>