<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kindergarten</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<nav id="header" class="navbar fixed-top">
    <button type="button" class="btn btn-default right-side">Вийти</button>
</nav>

<div id="main-area" class="container">
    <div class="row">
        <div class="col-3">
            <div class="card card-small bg-light">
                <div class="card-header">Профіль</div>
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Тетяна Іванова</a>
                    </div>
                    <p class="card-subtitle mb-3 text-muted small-text">30.05.1985</p>
                    <p class="card-text">
                        <img src="https://img.icons8.com/metro/26/000000/phone.png" class="icon">
                        <span>+38 (066) 111-22-33</span>
                    </p>
                </div>
            </div>
            <button class="btn btn-primary side-btn" id="presence-btn">Відвідування</button>
            <button class="btn btn-primary side-btn" id="reviews-btn">Відгуки</button>

            <div class="card card-small bg-light mb-2 side-card-stack">
                <div class="card-header">Групи</div>
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Група "Сонечко"</a>
                    </div>
                    <p class="card-subtitle text-muted small-text">23 учні</p>
                </div>
                <hr style="margin: 0px 0px;">
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Група "Берізка"</a>
                    </div>
                    <p class="card-subtitle text-muted small-text">18 учнів</p>
                </div>
                <hr style="margin: 0px 0px;">
                <div class="card-body">
                    <div class="card-title h5 mb-2">
                        <a href="#" class="hidden-ref">Група "Райдуга"</a>
                    </div>
                    <p class="card-subtitle text-muted small-text">21 учень</p>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="h3 mb-4 page-title">Відгуки</div>

            <div class="mb-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Сортування
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Нові спочатку</a>
                        <a class="dropdown-item" href="#">Мої спочатку</a>
                        <a class="dropdown-item" href="#">A-Я</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Фільтри
                    </button>
                </div>
                <div class="btn-group right-side">
                    <button class="btn btn-primary" id="new-review-btn"
                            data-toggle="modal" data-target="#newReviewModal">
                        Написати відгук
                    </button>
                </div>
            </div>

            <div class="modal fade" id="newReviewModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Новий відгук</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form>
                        <div class="modal-body">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                <label class="input-group-text" for="childrenList">
                                    <img src="https://img.icons8.com/ios/15/000000/babys-room.png">
                                </label>
                                </div>
                                <select class="form-control" id="childrenList">
                                    <option>Іван Іванов</option>
                                    <option>Марія Іванова</option>
                                    <option>Марина Петрова</option>
                                </select>
                            </div>
                            <div class="form-group mb-0">
                                <textarea id="review-text" class="form-control" rows="4" placeholder="Текст відгуку"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Зберегти</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="all-reviews">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title mb-0">
                            <img src="https://img.icons8.com/ios/50/000000/babys-room.png" class="icon">
                            Іван Іванов</h5>
                        <h5 class="card-title">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/ball-point-pen.png" class="icon">
                            Олена Петрова</h5>
                        <h6 class="card-subtitle text-muted mb-2">22.03.2019</h6>
                        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title mb-0">
                            <img src="https://img.icons8.com/ios/50/000000/babys-room.png" class="icon">
                            Іван Іванов</h5>
                        <h5 class="card-title">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/ball-point-pen.png" class="icon">
                            Олена Петрова</h5>
                        <h6 class="card-subtitle text-muted mb-2">22.03.2019</h6>
                        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title mb-0">
                            <img src="https://img.icons8.com/ios/50/000000/babys-room.png" class="icon">
                            Іван Іванов</h5>
                        <h5 class="card-title">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/ball-point-pen.png" class="icon">
                            Олена Петрова</h5>
                        <h6 class="card-subtitle text-muted mb-2">22.03.2019</h6>
                        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>