<a href="http://localhost:8082/a/register-child" class="btn btn-primary side-btn">
    Зареєструвати дитину
</a>
<a href="http://localhost:8082/a/register-parent" class="btn btn-primary side-btn">
    Зареєструвати опікуна
</a>
<a href="http://localhost:8082/a/register-teacher" class="btn btn-primary side-btn">
    Зареєструвати вихователя
</a>
<a href="http://localhost:8082/a/new-group" class="btn btn-primary side-btn mt-4">
    Нова група
</a>

<a href="http://localhost:8082/a/delete-child" class="btn btn-primary side-btn mt-4">
    Усі діти
</a>

<a href="http://localhost:8082/a/delete-parent" class="btn btn-primary side-btn mt-4">
    Усі батьки
</a>
<a href="http://localhost:8082/a/delete-teacher" class="btn btn-primary side-btn mt-4">
    Усі вихователі
</a>
<a href="http://localhost:8082/a/bills" class="btn btn-primary side-btn mt-4">
    Рахунки
</a>

