<a href="http://localhost:5050/a/register-child" class="btn btn-primary side-btn">
    Зареєструвати дитину
</a>
<a href="http://localhost:5050/a/register-parent" class="btn btn-primary side-btn">
    Зареєструвати опікуна
</a>
<a href="http://localhost:5050/a/register-teacher" class="btn btn-primary side-btn">
    Зареєструвати вихователя
</a>