<div class="card card-small bg-light mb-2 side-card-stack">
    <div class="card-header">Групи</div>
    <% groups.forEach(function (group) { %>
    <div class="card-body">
        <div class="card-title h5 mb-2">
            <a href="http://localhost:8082/t/<%= user.teacher_id %>/g/<%= group.group_id %>"
               class="hidden-ref">Група "<%= group.group_name %>"</a>
        </div>
        <p class="card-subtitle text-muted small-text"><%= group.ch_n %> учні(в)</p>
    </div>
    <hr style="margin: 0px 0px;">
    <% }); %>
</div>