<div class="card card-small bg-light mb-2 side-card-stack">
    <div class="card-header">Групи</div>
    <% groups.forEach(function (group) { %>
    <div class="card-body">
        <div class="card-title h5 mb-2">
            <a href="#" class="hidden-ref">Група "<%= group.name %>"</a>
        </div>
        <p class="card-subtitle text-muted small-text"><%= group.number %> учні(в)</p>
    </div>
    <hr style="margin: 0px 0px;">
    <% }); %>
</div>