<div class="card mb-2">
    <h1 class="h4 card-header font-weight-normal">
        Група "<%= main_group %>"
        <% if (presence) { %>
        <button type="button" class="btn btn-sm btn-light right-side"
                data-toggle="modal" data-target="#exampleModal"
                data-email="All" data-name="all-users">
            Вибрати усіх
        </button>
        <% } %>
    </h1>
    <ul class="list-group list-group-flush" id="group-list">
        <% if (children.length==0) { console.log("Zero"); %>
        <li class="list-group-item">В цій групі немає жодної дитини</li>
        <% } else { Array.from(children).forEach(function (child) { %>
            <li class="list-group-item">
                <a href="#"> <%= child.child_first_name %> <%= child.child_last_name %></a>
                <% if (presence) { %>
                <input type="checkbox"  class="right-side">
                <% } %>
            </li>
        <% }) } %>
    </ul>
    <% if (presence) { %>
    <button type="button" class="btn btn-primary" id="presence-submit-btn"> Відмітити </button>
    <% } %>
</div>