<div class="card mb-2">
    <h1 class="card-header">
        <span class="h5 mt-1 font-weight-normal float-left">Група "<%= main_group.group_name %>"</span>
        <% if (presence) { %>
        <button type="button" class="btn btn-sm btn-light float-right"
                data-toggle="modal" data-target="#exampleModal"
                data-email="All" data-name="all-users" id="choose-all-btn">
            Вибрати усіх
        </button>
        <% } %>
    </h1>
    <ul class="list-group list-group-flush" id="group-list">
        <% if (children.length==0) { %>
        <li class="list-group-item">В цій групі немає жодної дитини</li>
        <% } else { Array.from(children).forEach(function (child) { %>
            <li class="list-group-item">
                <a href="#"> <%= child.child_first_name %> <%= child.child_last_name %></a>
                <% if (presence) { %>
                <input type="checkbox" class="right-side" name="present">
                <% } %>
            </li>
        <% }) } %>
    </ul>
    <% if (presence) { %>
    <button type="button" class="btn btn-primary" id="presence-submit-btn"> Відмітити </button>
    <% } %>
</div>