<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pagetitle %> | KDGT </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/frontend/views/styles/style.css">
</head>
<body>
<nav id="header" class="navbar fixed-top">
    <span class="float-left">
        <a href="#" type="button" class="mr-3 d-lg-none d-xl-none">
            <img src="/frontend/views/assets/icons8-menu-vertical-filled-50.png" class="icon">
        </a>
        <img class="logo-small" src="/frontend/views/assets/logo-white.png" alt="KDGT Logo">
    </span>
    <form action="/logout">
        <button type="submit" class="btn btn-default float-right text-uppercase">Вийти</button>
    </form>
</nav>