<form class="form-register">
    <div class="h3 mb-4 page-title">Реєстрація опікуна</div>
    <div class="form-group">
        <label>ПІБ</label>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Прізвище" name="last_name" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Ім'я" name="first_name" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="По батькові" name="father_name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" name="email" placeholder="name@mail.com" required>
    </div>
    <div class="form-group">
        <label for="inputPhone">Номер телефону</label>
        <input type="text" class="form-control" name="phone" placeholder="+380 (66) 111-22-33" required>
    </div>
    <div class="form-group">
        <label>Місце проживання</label>
        <div class="form-row">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Місто" name="address_city" required>
            </div>
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Вулиця, дім" name="address_street" required>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Квартира" name="address_flat">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Місце роботи</label>
        <input type="text" class="form-control" name="work" placeholder="Назва" required>
    </div>
    <div class="form-group">
        <label>Пільги</label>
        <div class="input-group">
        <input type="number" class="form-control" name="discount" placeholder="10" required>
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-block mt-4" type="submit">Зареєструвати</button>
</form>