<form class="form-register">
    <div class="h3 mb-4 page-title">Нова група</div>
    <div class="form-group">
        <label>Назва групи</label>
        <input type="text" class="form-control" id="inputGroupName" name="name" placeholder="Сонечко" required>
    </div>
    <div class="form-group">
        <label>Рік навчання</label>
        <input type="number" class="form-control" id="inputGroupYear" name="year" placeholder="3" required>
    </div>
    <div class="form-group">
        <label>Головний вихователь</label>
        <select class="form-control" name="teacher">
            <% teachers.forEach(function (teacher) { %>
            <option value=""><%=teacher.teacher_last_name%> <%=teacher.teacher_first_name%></option>
            <% }); %>
        </select>
    </div>
    <button class="btn btn-primary btn-block mt-4" type="submit">Зареєструвати</button>
</form>